{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 9
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "object-shorthand": ["warn"],
    "func-names": ["warn"],
    "consistent-return": ["warn"],
    "comma-dangle": ["error", {
      "arrays": "ignore",
      "objects": "ignore",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }],
    "no-unused-vars": [
      "warn",
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "class-methods-use-this": [
      "warn", 
      { 
        "exceptMethods": [
          "executeAction",
          "createResponse"
        ]
      }
    ],
    "prefer-promise-reject-errors": "off",
    "linebreak-style": "off"
  }
}
